 @import url('https://fonts.googleapis.com/css?family=Questrial');
html {
   font:400 16px/24px 'Questrial', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}

.pagination {
  text-align: center;
  padding: 20px
}

.home-structure {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
}

.home-structure .filter-posts {
  background-color: #fff;
  padding: 0px 10px
}